.course__schedule {
  margin-top: 45px;
}

.accordeon {
  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $main-font;
    font-size: 32px;
    font-weight: 400;
    color: $accent-color;
    background-color: $light-color;
    border: none;
    border-radius: 20px;
    padding: 20px 25px 20px 30px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      background-image: url(../images/ui/minus.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.active::after {
      background-image: url(../images/ui/plus.svg);
    }
  }

  &__panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: $light-color;
    padding-left: 15px;
    border-radius: 20px;
    cursor: pointer;

    &.active {
      padding: 15px;
    }
  }

  &__list {
    list-style: none;
    padding-left: 15px;
    margin: 0;
  }

  &__list-item {
    padding: 15px 0;
    position: relative;
    padding-left: 25px;
    color: $dark-color;
    font-size: 24px;
    font-weight: 300;
    color: $dark-color;

    &:hover {
      border-bottom: 1px solid #ddd;
      font-weight: 600;
    }

    &::before {
      content: "—";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: $dark-color;
    }
  }
}
