.banner {
  display: flex;
  background-image: url(../images/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  padding: 100px 50px;
  margin-top: 135px;
  gap: 50px;

  &__title {
    font-size: 64px;
    line-height: 110%;
  }

  &__main {
    flex-basis: 61%;
    button {
      width: 100%;
      border-radius: 20px;
      padding: 30px;
      background-color: $accent-color;
      border: 0;
      color: $light-color;
      font-weight: 600;
      font-size: 20px;
      line-height: 110%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      border: 1px solid $accent-color;
      transition: $transition;
      cursor: pointer;

      @media (hover: hover) {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  &__info {
    flex-basis: calc(39% - 50px);
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    margin-right: 80px;
    height: 152px;
    border: 1px solid $light-color;
    border-right: none;
    border-radius: 20px 0 0 20px;
    padding: 30px;
    box-sizing: border-box;
    transition: $transition;
    z-index: 1;
    & + & {
      margin-top: 19px;
    }
    &:hover {
      &::before {
        width: 100%;
        opacity: 1;
        transform: translate(0, 0) scale(1);
      }
      .banner__decore {
        background-color: $accent-color;
        border-color: $accent-color;
        &::after {
          opacity: 1;
          transform: translate(0, 0) scale(1);
        }
      }
    }
    &::before {
      content: "";
      display: block;
      width: 0;
      height: 151px;
      background-color: $accent-color;
      border: 1px solid $accent-color;
      border-radius: 20px 0 0 20px;
      position: absolute;
      top: -1px;
      right: 0;
      z-index: -1;
      opacity: 0;
      transition: $transition;
      transform: translate(50%, -50%) scale(0);
    }
  }

  &__decore {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid $light-color;
    top: 0;
    right: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 151px;
      background-image: url(../images/banner-info-decor.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -1px;
      right: 0;
      transition: $transition;
    }
    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 151px;
      background-image: url(../images/banner-info-decor-hover.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -1px;
      right: 0;
      opacity: 0;
      transition: $transition;
      transform: translate(-50%, -50%) scale(0);
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 200px;
    line-height: 110%;
    margin: 0;
    span {
      display: block;
      font-size: 32px;
      font-weight: 700;
      line-height: 110%;
      margin-top: 20px;
    }
  }

  &__box {
    border: 1px solid $light-color;
    border-radius: 20px;
    padding: 30px 332px 30px 30px;
    position: relative;
    margin-top: 21px;
    &__title {
      font-size: 24px;
      line-height: 110%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 30px;
    }
    &__text {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
    }
    &__img {
      position: absolute;
      &._electroguitar {
        top: -68px;
        right: -20px;
      }
    }
  }
}
