@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
  font-weight: 700;
}
