@keyframes move-left {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-150%, 0);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: $main-font;
  font-weight: 400;
  background-color: $dark-color;
  color: $light-color;
  overflow: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.title-h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: $gray-color;
  @media (max-width: $r-mobile_600) {
    font-size: 1.8rem;
  }
}

.logo {
  &._max {
    svg {
      width: 400px;
      @media (max-width: $r-desk) {
        width: clamp(300px, 39vw, 400px);
      }
      @media (max-width: $r-mobile_600) {
        width: clamp(150px, 40vw, 300px);
      }
    }
  }
  &._min {
    svg {
      width: 296px;
      height: 22px;
    }
  }
}

.container {
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px;
  @media (max-width: $r-desk) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: $r-mobile_600) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
