body {
  font-family: $main-font;
  font-weight: 400;
  line-height: 110%;
  margin: 0;
  padding: 0;
  background-color: #1f2023;
  color: $light-color;
}

.title-h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2 {
  font-weight: 600;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
  padding: 0 45px;
  box-sizing: border-box;
  @media (max-width: 1024px) {
    padding: 0 20px;
  }
}
