.result {
  margin: 150px 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
  }

  &__item {
    background-color: $light-color;
    padding: 20px;
    border-radius: 20px;
    &._subgrid {
      display: grid;
      grid-column: 2 / 5;
      grid-template-columns: subgrid;
      grid-template-rows: 130px;
      gap: 10px;
      align-items: center;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    line-height: 150%;
    color: $dark-color;
    margin: 0;
    span {
      display: block;
      width: fit-content;
      color: $light-color;
      font-size: 24px;
      font-weight: 600;
      line-height: 110%;
      background-color: $accent-color;
      padding: 10px;
      border-radius: 10px;
    }
  }

  &__button {
    grid-column: 2 / 4;
    align-self: stretch;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $light-color;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    border-radius: 20px;
    padding: 30px;
    transition: $transition;
    cursor: pointer;
    @media (hover: hover) {
      &:hover {
        color: $accent-color;
        background: transparent;
      }
    }
  }
}
