$main-font: "Unbounded", sans-serif;
$accent-color: #7027e2;
$light-color: #ffffff;
$dark-color: #2a2f36;
$gray-color: #ededed;

$transition: 0.3s;

$border-min: 20px;
$border-max: 50px;

$r-desk_full_over: 1600px;
$r-desk_full: 1500px;
$r-desk_wxga: 1366px;
$r-desk: 1024px;
$r-tab: 768px; //iPad Mini
$r-mobile_600: 600px;
$r-mobile_500: 500px;
$r-mobile_400: 400px;
$r-mobile_360: 360px;
